# Object file
*.o

# Ada Library Information
*.ali

# Build directories
obj/*
lib/*
*/obj/*
*/lib/*

# Alire directories
alire/*
config/*
*/alire/*
*/config/*

# Other files
*.HEX
*.img
*.exe
*.hlr
*.ihx
*.lst
*.map
*.rel
*.S
*.S68

# Printer file
printer.txt

# The executables
simcpucli
*.exe
#
#  Files from MacOS transferred to Windows
#
._*
.DS_Store
#
#  LaTeX intermediate files
#
*.aux
*.bbl
*.blg
*.log
*.toc
*.synctex.gz
