# Object file
*.o

# Ada Library Information
*.ali

# Build directories
obj/*
lib/*

# Alire directories
alire/*
config/*

# Other files
*.HEX
*.img
*.exe
*.hlr
*.ihx
*.lst
*.map
*.rel

# Printer file
printer.txt

# The executables
loadcpm
simcli
simcputest
